/**
 * This is a custom theme css file. You can write whatever you want here
 * but realize you'll need to play by the rules of shadow dom. Meaning,
 * that if something is in a shadow root you won't be able to style it.
 *
 * There is hope though. We leverage CSS variables heavily and most of the
 * elements we have baked in do too.
 *
 * Also since our themes are built on Polymer, you can leverage what
 * are called "apply blocks". The apply block loos like @apply --whatever-stuff;
 * Think of it like a sass mixin, where you can apply any css you want
 * inside of that block and it'll apply downstream. Two examples are given below
 */

 @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

 :root {
   --haxcms-base-styles-list-padding-bottom: none;
   --haxcms-base-styles-list-max-width: none;
   --haxcms-base-styles-p-font-size: 16px;
   --learn-two-theme-font-family: 'Lato';
   --hax-body-font-family: 'Lato';
   --learn-two-theme-default-background: white;

   --simple-modal-max-width: 800px;
 }
 #scrollable {
   font-size: 2em;
 }
 html,body {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  line-height: 2 !important;
 }
 @media screen and (min-width: 900px) {
  body {
    font-size: 20px;
  }
 }
 /* @media screen and (min-width: 1000px) {
  body {
    font-size: 22px;
  }
 } */
/* maintain readable line length with floats around it */
p:before {
  content: "";
  width: 20em;
  display: block;
  overflow: hidden;
  /* For Demonstration */
  /* border: 1px solid green; */
}